<!-- This was the old footer -->
<!-- <div class="uk-section uk-padding-small@s" style="background-color:#392f8a; padding: 20px 0px;">
  <div class="uk-flex-around@l" uk-grid>

    <div class="uk-padding-small uk-width-1-1 uk-width-1-3@m">
        the svg tag and code where here
    </div>

    <div class="uk-padding-small uk-width-1-1 uk-width-1-2@s uk-width-1-3@m" style="padding-left:50px;">
      <h3 style="color:white; margin-bottom:0;">Southern Tails</h3>
      <h4 style="color:white; margin-top:0;">Dog and Cat grooming and bording</h4>
      <p style="color:white; margin:0;">11720 Broadway St. #102</p>
      <p style="color:white; margin:0;">Pearland, TX 77584</p>
      <br>
      <sub style="color:grey;">Site by <a style="text-decoration: none; color:gray;" href="http://tech-mex.io" target="_blank"> tech-mex.io </a></sub>
    </div>

    <div class="uk-padding-small uk-width-1-1 uk-width-1-2@s uk-width-1-3@m" style="padding-left:50px;">
      <ul class="uk-iconnav uk-iconnav-vertical">
        <li><a>Call us for more information</a></li>
        <li><a href="tel:281-741-3247"><span uk-icon="icon:receiver;"></span> (281) 741-3247</a></li>
        <li><a href="#"><span uk-icon="icon:facebook;"></span> Facebook</a></li>
        <li><a href="#"><span uk-icon="icon:instagram;"></span> Instagram</a></li>
        <li><a href="#"><span uk-icon="icon:twitter;"></span> Twitter</a></li>
        <li><a href="#"><span uk-icon="icon:yelp;"></span> Yelp</a></li>
      </ul>
    </div>

  </div>
</div> -->
<div class="uk-flex uk-flex-right texMex">
  Site By: <a href="http://tech-mex.io/" target="_blank">Tex-Mex.io</a>
</div>
<div class="footer">
  <div class="businessName">
    <h5>Southern Tails</h5>
    <h6>Dog and Cat grooming and bording</h6>
    <h6>11720 Broadway St, Pearland, TX</h6>
  </div>
  <div class="phoneNumber">
    <h6 class="uk-visable@m tabletMobileOFF">(281) 741-3247</h6>
    <h4 class="uk-hidden@m" style="margin-top:20px;"><a href="tel:281-741-3247">Call for Information</a></h4>
  </div>
  <div class="icons">
    <a href="#" class="uk-icon-link" uk-icon="icon:facebook; ratio: 1.5"></a>
    <a href="#" class="uk-icon-link" uk-icon="icon:google-plus; ratio: 1.5"></a>
    <a href="#" class="uk-icon-link" uk-icon="icon:instagram; ratio: 1.5"></a>
    <a href="#" class="uk-icon-link" uk-icon="icon:pinterest; ratio: 1.5"></a>
    <a href="#" class="uk-icon-link" uk-icon="icon:twitter; ratio: 1.5"></a>
    <a href="#" class="uk-icon-link" uk-icon="icon:yelp; ratio: 1.5"></a>
  </div>
</div>

<style>
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    background: orange;
  }
  .footer div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
  }

  .footer div a {
    margin-right: 1em;
  }

  .icons a {
    text-decoration: none;
    color: black;
  }

  .texMex{
    padding-right: 10px;
    font-size: small;
  }

  .texMex a:hover {
    text-decoration: none;
    cursor: pointer;
  }

  .texMex a:link {
   color:inherit;
}

  @media only screen and (max-width: 960px){
    .footer {
    grid-template-columns: repeat(2, 1fr);
    }

    .tabletMobileOFF{
      display: none;
    }

    .icons {
      grid-column: 1 / span 2;
    }
  }

  @media only screen and (max-width: 640px){
    .footer {
      grid-gap: 0px;
    }

    .businessName {
      text-align: center;
      grid-column: 1/ span 2;
    }

    .businessName h5 {
      margin-top: 15px;
      font-size: 2em;
    }
    .phoneNumber {
      grid-column: 1/ span 2;
    }

    .phoneNumber h4 a {
      padding: 8px;
      border-radius: 20px;
      background: #006699;
      color:white;
      padding-left: 25px;
      padding-right: 25px;
    }

    .tabletMobileOFF{
      display: none;
    }

  }

</style>


