<footer class="uk-container uk-container-large bkg_tan">
  <div class="uk-flex uk-flex-right texMex">
    developed by:&#32;<a href="http://tech-mex.io/" target="_blank" style="color: #c8b39d;"> Tex-Mex.io</a>
  </div>
  <div class="footer">
    <div class="businessName">
      <h5>Southern Tails</h5>
      <h6>Dog and Cat grooming and bording</h6>
      <h6>11720 Broadway St, Pearland, TX</h6>
    </div>
    <div class="phoneNumber">
      <h6 class="uk-visable@m tabletMobileOFF">(281) 741-3247</h6>
      <h4 class="uk-hidden@m" style="margin-top:20px;"><a href="tel:281-741-3247">Call for Information</a></h4>
    </div>
    <div class="icons">
      <a href="https://m.facebook.com/thesoutherntails/" target="_blank" class="uk-icon-link" uk-icon="icon:facebook; ratio: 1.5"></a>
      <a href="#" target="_blank" class="uk-icon-link" uk-icon="icon:google-plus; ratio: 1.5"></a>
      <a href="https://www.instagram.com/pawsdestination/" target="_blank" class="uk-icon-link" uk-icon="icon:instagram; ratio: 1.5"></a>
      <a href="#" target="_blank" class="uk-icon-link" uk-icon="icon:pinterest; ratio: 1.5"></a>
      <a href="https://mobile.twitter.com/pawsdestination" target="_blank" class="uk-icon-link" uk-icon="icon:twitter; ratio: 1.5"></a>
      <a href="#" target="_blank" class="uk-icon-link" uk-icon="icon:yelp; ratio: 1.5"></a>
    </div>
  </div>
</footer>

<style>
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    background: orange;
  }
  .footer div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
  }

  .footer div a {
    margin-right: 1em;
  }

  .icons a {
    text-decoration: none;
    color: black;
  }

  .texMex{
    padding-right: 10px;
    font-size: small;
    color: #c8b39d;
  }

  .texMex a:hover {
    text-decoration: none;
    cursor: pointer;
  }


  @media only screen and (max-width: 960px){
    .footer {
    grid-template-columns: repeat(2, 1fr);
    }

    .tabletMobileOFF{
      display: none;
    }

    .icons {
      grid-column: 1 / span 2;
    }
  }

  @media only screen and (max-width: 640px){
    .footer {
      grid-gap: 0px;
    }

    .businessName {
      text-align: center;
      grid-column: 1/ span 2;
    }

    .businessName h5 {
      margin-top: 15px;
      font-size: 2em;
    }
    .phoneNumber {
      grid-column: 1/ span 2;
    }

    .phoneNumber h4 a {
      padding: 8px;
      border-radius: 20px;
      background: #006699;
      color:white;
      padding-left: 25px;
      padding-right: 25px;
      margin-right: 0px;
    }

    .tabletMobileOFF{
      display: none;
    }

  }

</style>


