{%- assign default_paths = site.pages | map: "path" -%} {%- assign page_paths = site.header_pages | default: default_paths
  -%}
  {%- if page_paths -%}
<nav id="navBar" class="uk-navbar-container uk-hidden nav-size"  uk-navbar uk-sticky>
  <div id="navLogo" class="uk-navbar-left uk-invisible">
    <a class="uk-navbar-item uk-logo" rel="author" href="{{  "/"  | relative_url }}"><img src="/assets/ST-Nav-Logo.svg" alt="Southern Tails, a paws destination" width="300"></a>
  </div>
  <div class="uk-navbar-right">
    <!-- phone nav bar -->
    <div class="uk-offcanvas-content uk-hidden@s">
      <a href="#mobile-nav" uk-toggle style="text-decoration:none; color:white; font-size:21px;">&#9776;</a>
    </div>
    <!-- offcanvas content -->
    <div id="mobile-nav" uk-offcanvas="flip: true; esc-close: true; bg-close: true">
      <div class="uk-offcanvas-bar uk-flex uk-flex-column" style="background-color:white;">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
          <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            {%- for path in page_paths -%} {%- assign my_page = site.pages | where: "path", path | first -%} {%- if my_page.title -%}
            <li class="uk-active"><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
            {%- endif -%} {% endfor -%}
          </ul>

      </div>
    </div>

    <!-- Tablet ++ nav -->
    <ul class="uk-navbar-nav uk-visible@s">
        {%- for path in page_paths -%} {%- assign my_page = site.pages | where: "path", path | first -%} {%- if my_page.title -%}
        <li class="uk-active">
            <a class="page-link" style="color:white;" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        </li>
        {%- endif -%} {% endfor -%}          
    </ul>

  </div>
</nav>
{%- endif -%}