<!-- <nav id="navBar" class="uk-navbar-container bg-clear nav-size"  uk-navbar uk-sticky>
  //old
  <div id="navLogo" class="uk-navbar-left uk-invisible">
    <a class="uk-navbar-item uk-logo" rel="author" href="/southernTails"><img src="{{site.baseurl}}/assets/ST-Nav-Logo.svg" alt="Southern Tails, a paws destination" width="300"></a>
  </div>

  <div class="uk-navbar-right">
    //phone nav bar
    <div class="uk-offcanvas-content uk-hidden@s">
      <a href="#mobile-nav" uk-toggle style="text-decoration:none; color:white; font-size:21px;">&#9776;</a>
    </div>
    //offcanvas content
    <div id="mobile-nav" uk-offcanvas="flip: true; esc-close: true; bg-close: true">
      <div class="uk-offcanvas-bar uk-flex uk-flex-column" style="background-color:#006699;">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
          <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            <li class="uk-active"><a href="grooming/index.html">Grooming</a></li>
            <li class="uk-active"><a href="about/index.html">Boarding</a></li>
            <li class="uk-active"><a href="about/index.html">Daycare</a></li>
            <li class="uk-active"><a href="about/index.html">Boutique</a></li>
            <li class="uk-active"><a href="about/index.html">Contact</a></li>
          </ul>

      </div>
    </div>

    //Tablet ++ nav
    <ul class="uk-navbar-nav uk-visible@s">
        <li class="uk-active">
            <a class="page-link" style="color:white;" href="grooming/index.html">Grooming</a>
        </li>
        <li class="uk-active">
            <a class="page-link" style="color:white;" href="grooming/index.html#boarding">Boarding</a>
        </li>
        <li class="uk-active">
            <a class="page-link" style="color:white;" href="grooming/index.html#daycare">Daycare</a>
        </li>
        <li class="uk-active">
            <a class="page-link" style="color:white;" href="#boutique">Boutique</a>
        </li>
        <li class="uk-active">
            <a class="page-link" style="color:white;" href="#contact">Contact</a>
        </li>
    </ul>

  </div>
</nav> -->

<div class="nav_parent">
  <div class="uk-hidden@m uk-navbar-right"><a href="#mobile-nav" uk-toggle style="text-decoration:none; color:#ede6df; font-size:21px; padding-right:10px;">&#9776;</a></div>
  <div class="nav_logo">
    <a href="/southernTails"><img src="{{site.baseurl}}/assets/STLogo_new.png" width="500"></a>
  </div>
</div>

<div class="uk-visible@m nav_menu">
    <div></div>
    <div><a href="grooming">GROOMING</a></div>
    <div>BOARDING</div>
    <div>DAYCAMP</div>
    <div>BOUTIQUE</div>
    <div>ABOUT</div>
    <div>CONTACT</div>
    <div></div>
</div>

<div id="mobile-nav" uk-offcanvas="flip: true; esc-close: true; bg-close: true">
  <div class="uk-offcanvas-bar uk-flex uk-flex-column" style="background-color:#ede6df">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
      <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
        <li class="uk-active"><a href="grooming">GROOMING</a></li>
        <li class="uk-active"><a href="about/index.html">BOARDING</a></li>
        <li class="uk-active"><a href="about/index.html">DAYCAMP</a></li>
        <li class="uk-active"><a href="about/index.html">BOUTIQUE</a></li>
        <li class="uk-active"><a href="about/index.html">ABOUT</a></li>
        <li class="uk-active"><a href="about/index.html">CONTACT</a></li>
      </ul>
  </div>
</div>

