<div class="uk-container uk-container-expand" style="background:#015596;">
  <section class="uk-container uk-container-medium" style="background:#015596;">
    <div class="uk-flex uk-flex-center uk-flex-around uk-flex-wrap uk-flex-wrap-around">
      <div class="uk-hidden@s uk-navbar-right uk-flex-top uk-flex-right"><a href="#mobile-nav" uk-toggle style="text-decoration:none; color:#ede6df; font-size:21px; padding-right:10px;">&#9776;</a></div>
      <div class="nav_logo" uk-grid>
        <div class="uk-child-width-1-2@m">
          <a href="/southernTails"><img src="{{site.baseurl}}/assets/STLogo_new.png" width="500"></a>
        </div>
        <div class="home_message">
          <span id="home_message_header">NOW OPEN</span>
          <br><br>
          <span id="home_message_body">Offering day spa services for dogs, as well as daycamp and overnight boarding for cats and dogs.</span>
          <br><br>
          <span id="home_message_cta">Call for Prices 281-731-3247</span>
        </div>
        <div class="uk-hidden@s mobile_header_cta" style="margin: 0 auto;">
            <h4 class="" style="margin-top:10px; margin-bottom: 24px;"><a href="tel:281-741-3247">281-741-3247</a></h4>
        </div>
      </div>
    </div>

    <div class="uk-visible@s uk-flex uk-flex-center uk-flex-between">
        <div></div>
        <div><a href="{{site.baseurl}}/grooming/index.html">GROOMING</a></div>
        <div><a href="{{site.baseurl}}/boarding/index.html">BOARDING</a></div>
        <div><a href="{{site.baseurl}}/daycamp/index.html">DAYCAMP</a></div>
        <div>BOUTIQUE</div>
        <!-- <div>ABOUT</div> -->
        <div><a href="mailto:info@thesoutherntails.com?subject=Message from Website">CONTACT</a></div>
        <div></div>
    </div>

    <div id="mobile-nav" uk-offcanvas="flip: true; esc-close: true; bg-close: true">
      <div class="uk-offcanvas-bar uk-flex uk-flex-column" style="background-color:#ede6df">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
          <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            <li class="uk-active"><a href="{{site.baseurl}}/grooming/index.html">GROOMING</a></li>
            <li class="uk-active"><a href="{{site.baseurl}}/boarding/index.html">BOARDING</a></li>
            <li class="uk-active"><a href="{{site.baseurl}}/daycamp/index.html">DAYCAMP</a></li>
            <li class="uk-active"><a href="about/index.html">BOUTIQUE</a></li>
            <!-- <li class="uk-active"><a href="about/index.html">ABOUT</a></li> -->
            <li class="uk-active"><a href="about/index.html">CONTACT</a></li>
          </ul>
      </div>
    </div>
  </section>
</div>


<style>
  .home_message {
    width: 375px;
    padding-top: 40px;
    /* background-color: #0173cb; */
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-align: center;
  }

  @media only screen and (max-width: 1000px) {
      .home_message {
        display: none;
    }
    .mobile_header_cta h4 a {
      padding: 8px;
      border-radius: 20px;
      background: #ede6df;
      color:#015596;
      padding-left: 15px;
      padding-right: 15px;
      margin-right: 0px;
    }
  }
</style>
