<!-- old top of home page -->
<!-- <div class="uk-height-large hero" id="hero-image">
    {%- include header.html -%}
    <div class="uk-flex uk-flex-center uk-flex-middle uk-flex-left@s" >
      <div>
        <img src="{{site.baseurl}}/assets/ST-Logo_Original.svg" alt="Sourthern Tails Logo" class="home-logo">
        <p class="text-white uk-text-center home-logo-text" >{{ page.header_text }}
        <button class="header-button-mobile uk-button uk-button-default"><a href="tel:281-741-3247">CALL FOR INFORMATION</a></button>
        <button class="header-button uk-button uk-button-default">CALL FOR INFORMATION: 281-741-3247</button></p>
      </div>
    </div>
</div> -->
<!-- end of old top of home page -->