<header class="site-header" role="banner">
  <nav id="navBarService" class="uk-navbar-container bg-purple nav-size" uk-navbar uk-sticky>
    <div id="navLogo-service" class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo" rel="author" href="{{  "/southernTails"  | site.baseurl }}"><img src="/assets/ST-Nav-Logo.svg" alt="Southern Tails, a paws destination" width="300"></a>
    </div>
    <div class="uk-navbar-right">
      <!-- phone nav bar -->
      <div class="uk-offcanvas-content uk-hidden@s">
        <a href="#mobile-nav" uk-toggle style="text-decoration:none; color:white; font-size:21px;">&#9776;</a>
      </div>
      <!-- offcanvas content -->
      <div id="mobile-nav" uk-offcanvas="flip: true; esc-close: true; bg-close: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column" style="background-color:white;">
          <button class="uk-offcanvas-close" type="button" uk-close></button>
          <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
              <li class="uk-active"><a href="/grooming/index.html">Grooming</a></li>
              <li class="uk-active"><a href="/about/index.html">Boarding</a></li>
              <li class="uk-active"><a href="/about/index.html">Daycare</a></li>
              <li class="uk-active"><a href="/about/index.html">Boutique</a></li>
              <li class="uk-active"><a href="/about/index.html">Contact</a></li>
            </ul>
        </div>
      </div>

      <!-- Tablet ++ nav -->
      <ul class="uk-navbar-nav uk-visible@s">
          <li class="uk-active">
              <a class="page-link" style="color:white;" href="/grooming/index.html">Grooming</a>
          </li>
          <li class="uk-active">
              <a class="page-link" style="color:white;" href="/about/index.html">Boarding</a>
          </li>
          <li class="uk-active">
              <a class="page-link" style="color:white;" href="/about/index.html">Daycare</a>
          </li>
          <li class="uk-active">
              <a class="page-link" style="color:white;" href="/about/index.html">Boutique</a>
          </li>
          <li class="uk-active">
              <a class="page-link" style="color:white;" href="/about/index.html">Contact</a>
          </li>
      </ul>
    </div>
  </nav>
</header>