/* Custome Styles for Home Page */

/* transfer all inline to this sheet */

body {
  background: #ede6df;
}

.text-white {
  color: white !important;
}

.text-purple {
  color: purple !important;
}

.under-score:after {
  background: #392f8a;
  content: '';
  display: block;
  height: .2rem;
  margin: 1rem 0 0;
  width: 15%;
}

/* hover for cards */
.pageLink:hover {
  text-decoration: none;
}

.buttonWraper {
  display: flex;
  justify-content: center;
}

.serviceButton {
  border: solid 1px darkgray;
  border-radius: 10px;
}
