/* Custome Styles for Home Page */

body {
  /* background: #ede6df; */
  background: lightblue
}

.text-white {
  color: white !important;
}

.text-purple {
  color: purple !important;
}

.under-score:after {
  background: #015596;
  content: '';
  display: block;
  height: 2px;
  margin: 1rem 0 0;
  width: 20%;
}

/* hover for cards */
.pageLink:hover {
  text-decoration: none;
}

.buttonWraper {
  display: flex;
  justify-content: center;
}

.serviceButton {
  border: solid 1px darkgray;
  border-radius: 10px;
}
