
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800,800i');
/* message on header */
#home_message_header {
  font-family: 'Montserrat:800i', sans-serif;
}
#home_message_body {
  font-family: 'Montserrat:400', sans-serif;
}
#home_message_cta {
  font-family: 'Montserrat:800', sans-serif;
}


/* css grid starts here */
.nav_parent{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(25px, auto);
  grid-gap: .5em;
  justify-items: center;
  background-color: #015596;
}

.nav_menu {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  padding: 10px;
  color: white;
  background-color: #015596;
}

.nav_menu div {
  padding: 0px 25px;
}

div a {
  color: white;
}

div a:hover {
  text-decoration: none;
  color: orange;
}

ul li.uk-active a {
  color:#015596 !important;
  text-decoration: none;
}
