
@import url('https://fonts.googleapis.com/css?family=Heebo:400,800,900');
/* message on header */
#home_message_header {
  font-family: 'Heebo', sans-serif;
  font-weight: 900;
  font-size: 35px;
}
#home_message_body {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
}
#home_message_cta {
  font-family: 'Heebo', sans-serif;
  font-weight: 800;
  font-size: 25px;
}


/* css grid starts here */
/* .nav_parent{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(25px, auto);
  grid-gap: .5em;
  justify-items: center;
  background-color: #015596;
} */

/* .nav_menu {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  padding: 10px;
  color: white;
  background-color: #015596;
} */

.nav_menu div {
  padding: 0px 25px;
}

div a {
  color: white;
}

div a:hover {
  text-decoration: none;
  color: orange;
}

ul li.uk-active a {
  color:#015596 !important;
  text-decoration: none;
}
