---
layout: homeDefault
---

<div class="uk-cover-container uk-height-large uk-padding-remove-right uk-padding-remove-left" id="hero-image">
  <img src="/assets/images/justin-veenema-156592-unsplash.jpg" alt="" style="z-index:-10;" uk-cover>
  <div class="uk-container">
    <div uk-grid>
      <div class="uk-width-1-1@s uk-width-1-2@m">
        <!-- 640px and smaller -->
        <img class="uk-hidden@s" src="/assets/ST-Logo_Original.svg" alt="Sourthern Tails Logo" style="padding:15% 10%;">
        <p class="uk-hidden@s text-white uk-text-center" style="padding:0 10%;">{{ page.header_text }}</p>
        <!-- S 640+ -->
        <img class="uk-visible@s uk-hidden@m" src="/assets/ST-Logo_Original.svg" alt="Sourthern Tails Logo" style="padding:4% 18%;">
        <p class="uk-visible@s uk-hidden@m text-white uk-text-center" style="padding:0 15%;">{{ page.header_text }}</p>
        <!-- m 960+ -->
        <img class="uk-visible@m uk-hidden@l" src="/assets/ST-Logo_Original.svg" alt="Sourthern Tails Logo" style="padding:8% 8%;">
        <p class="uk-visible@m uk-hidden@l text-white uk-text-center" style="padding:0 8%;">{{ page.header_text }}</p>
        <!-- l 1200+ -->
        <img class="uk-visible@l uk-hidden@xl" src="/assets/ST-Logo_Original.svg" alt="Sourthern Tails Logo" style="width:auto; padding-top:8%; padding-left:10%;">
        <p class="text-white uk-text-center uk-visible@m uk-visible@l uk-hidden@xl" style="width:auto; padding-left:10%;">{{ page.header_text }}</p>
        <!-- xl 1600+ -->
        <img class="uk-visible@xl" src="/assets/ST-Logo_Original.svg" alt="Sourthern Tails Logo" style="margin-top: 2%; padding: 0 20%;">
        <p class="text-white uk-text-center uk-visible@xl" style="padding:2% 20%;">{{ page.header_text }}</p>
      </div>
    </div>
  </div>
</div>

<div class="uk-section uk-section-muted">
    <div class="uk-container">
      <!-- <h1 class="uk-heading-primary">Our Services</h1> -->
      <div class="uk-margin-small-top" uk-grid>
        <div class="uk-width-1-2@s">
          <h1 class="uk-heading under-score">{{ page.service1 }}</h1>
          <img src="/assets/images/justin-veenema-156592-unsplash.jpg" alt="">
          <p>{{ page.service1_description }}</p>
          <a class="uk-button uk-button-default" href="#" style="border: 1px solid darkgrey;">Learn More</a>
        </div>
        <div class="uk-width-1-2@s">
          <h1 class="uk-heading under-score">{{ page.service2 }}</h1>
          <img src="/assets/images/justin-veenema-156592-unsplash.jpg" alt="">
          <p>{{ page.service2_description }}</p>
          <a class="uk-button uk-button-default" href="#" style="border: 1px solid darkgrey;">Learn More</a>  
        </div>
      </div>
      <div class="uk-margin-large-top" uk-grid>
        <div class="uk-width-1-2@s">
          <h1 class="uk-heading under-score">{{ page.service3 }}</h1>
          <img src="/assets/images/justin-veenema-156592-unsplash.jpg" alt="">
          <p>{{ page.service3_description }}</p>
          <a class="uk-button uk-button-default" href="#" style="border: 1px solid darkgrey;">Learn More</a>
        </div>
        <div class="uk-width-1-2@s">
          <h1 class="uk-heading under-score">{{ page.service4 }}</h1>
          <img src="/assets/images/justin-veenema-156592-unsplash.jpg" alt="">
          <p>{{ page.service4_description }}</p>
          <a class="uk-button uk-button-default" href="#" style="border: 1px solid darkgrey;">Learn More</a>  
        </div>
      </div>
    </div>
    <div class="uk-container uk-margin-large-top">
      <h1 class="uk-heading-line"><span>{{ page.body_heading }}</span></h1>
      <div class="uk-margin-medium-top" uk-grid>
        <div class="uk-width-1-1@s">
          {{ content }}
        </div>
      </div>
    </div>
</div>




<!-- below here is the original code, only keeping as reference as I build -->
<!-- <div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div> -->
