---
layout: homeDefault
---
<!-- start of delete for old header -->
<div class="uk-height-large hero" id="hero-image">
    <!-- {%- include header.html -%}
    <div class="uk-flex uk-flex-center uk-flex-middle uk-flex-left@s" >
      <div>
        <img src="{{site.baseurl}}/assets/ST-Logo_Original.svg" alt="Sourthern Tails Logo" class="home-logo">
        <p class="text-white uk-text-center home-logo-text" >{{ page.header_text }}
        <button class="header-button-mobile uk-button uk-button-default"><a href="tel:281-741-3247">CALL FOR INFORMATION</a></button>
        <button class="header-button uk-button uk-button-default">CALL FOR INFORMATION: 281-741-3247</button></p>
      </div>
    </div>
</div> -->
<!-- end of delete of old header -->


<div class="uk-container uk-container-expand uk-margin-medium-top uk-margin-medium-bottom uk-margin-large-left uk-margin-large-right">
  <div class="uk-section">
    <!-- start of TO DELETE -->
      <!-- <h1 class="uk-heading-primary">Our Services</h1> -->
      <!-- <div class="uk-margin-small-top" uk-grid>
        <div class="uk-width-1-2@s">
          <h2 class="uk-heading under-score">{{ page.service1 }}</h2>
          <img src="{{site.baseurl}}/assets/images/{{ page.service1_photo }}" alt="">
          <ul>{% for description in page.service1_descriptions %}
            <li>{{ description.msg }}</li>{% endfor %}
          </ul>
          <a class="uk-button uk-button-default" href="#" style="border: 1px solid darkgrey;">Learn More</a>
        </div>
        <div class="uk-width-1-2@s">
          <h2 class="uk-heading under-score">{{ page.service2 }}</h2>
          <img src="{{site.baseurl}}/assets/images/{{ page.service2_photo }}" alt="">
          <ul>{% for description in page.service2_descriptions %}
            <li>{{ description.msg }}</li>{% endfor %}
          </ul>
          <a class="uk-button uk-button-default" href="#" style="border: 1px solid darkgrey;">Learn More</a>  
        </div>
      </div>
      <div class="uk-margin-large-top" uk-grid>
        <div class="uk-width-1-2@s">
          <h2 class="uk-heading under-score">{{ page.service3 }}</h2>
          <img src="{{site.baseurl}}/assets/images/{{ page.service3_photo }}" alt="">
          <ul>{% for description in page.service3_descriptions %}
            <li>{{ description.msg }}</li>{% endfor %}
          </ul>
          <a class="uk-button uk-button-default" href="#" style="border: 1px solid darkgrey;">Learn More</a>
        </div>
        <div class="uk-width-1-2@s">
          <h2 id="boutique" class="uk-heading under-score">{{ page.service4 }}</h2>
          <img src="{{site.baseurl}}/assets/images/{{ page.service4_photo }}" alt="">
          <ul>{% for description in page.service4_descriptions %}
            <li>{{ description.msg }}</li>{% endfor %}
          </ul>
          <a class="uk-button uk-button-default" href="#" style="border: 1px solid darkgrey;">Learn More</a>  
        </div>
      </div> -->
      <!-- END of TO DELETE -->

    <!-- New cards June 24 -->
    <div class="uk-child-width-1-4@m" uk-grid>
        <!-- Grooming -->
        <div>
            <a class="pageLink" href="http://tech-mex.io">
              <div class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-large">
                  <div class="uk-card-media-top">
                      <img src="{{site.baseurl}}/assets/images/{{ page.service1_photo }}" alt="">
                  </div>
                  <div class="uk-card-body">
                      <h3 class="uk-card-title uk-text-bold uk-text-uppercase uk-text-center">{{page.service1_short_name}}</h3>
                      <p class="uk-text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                      <br>
                      <div class="buttonWraper">
                        <button class="uk-button uk-button-default uk-button-small serviceButton">DETAILS</button>
                      </div>
                  </div>
              </div>
            </a>
        </div>
        <!-- Boarding -->
        <div>
          <a class="pageLink" href="http://tech-mex.io">
            <div class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-large">
                <div class="uk-card-media-top">
                    <img src="{{site.baseurl}}/assets/images/{{ page.service2_photo }}" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title uk-text-bold uk-text-uppercase uk-text-center">{{page.service2_short_name}}</h3>
                    <p class="uk-text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <br>
                    <div class="buttonWraper">
                      <button class="uk-button uk-button-default uk-button-small serviceButton">DETAILS</button>
                    </div>
                </div>
            </div>
          </a>
        </div>
        <!-- DayCamp -->
        <div>
          <a class="pageLink" href="http://tech-mex.io">
            <div class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-large">
                <div class="uk-card-media-top">
                    <img src="{{site.baseurl}}/assets/images/{{ page.service3_photo }}" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title uk-text-bold uk-text-uppercase uk-text-center">{{page.service3_short_name}}</h3>
                    <p class="uk-text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <br>
                    <div class="buttonWraper">
                      <button class="uk-button uk-button-default uk-button-small serviceButton">DETAILS</button>
                    </div>
                </div>
            </div>
          </a>
        </div>
        <!-- Boutique -->
        <div>
          <a class="pageLink" href="http://tech-mex.io">
            <div class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-large">
                <div class="uk-card-media-top">
                    <img src="{{site.baseurl}}/assets/images/{{ page.service4_photo }}" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title uk-text-bold uk-text-uppercase uk-text-center">{{page.service4_short_name}}</h3>
                    <p class="uk-text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <br>
                    <div class="buttonWraper">
                      <button class="uk-button uk-button-default uk-button-small serviceButton">DETAILS</button>
                    </div>
                </div>
            </div>
          </a>
        </div>
    </div>
  </div>

  <!-- Description of Business -->
  <div class="uk-section uk-padding-remove-top">
    <div class="uk-margin-large-top">
      <h2 class="uk-heading-line"><span>{{ page.body_heading }}</span></h2>
      <div class="uk-margin-medium-top" uk-grid>
        <div class="uk-width-1-1@s">
          {{ content }}
        </div>
      </div>
    </div>
  </div>

  <!-- Google Map -->
  <div class="uk-section uk-padding-remove-top" style="padding-bottom:30px;">
    <div class="uk-margin-small-top uk-margin-medium-top" uk-grid>
      <div class="uk-margin-small-bottom uk-width-1-1@s">
        <!-- <h2 class="uk-heading">Southern Tails</h2> -->
        <h3 class="uk-heading">11720 Broadway St. #102, Pearland TX</h3>
        <iframe
          width=100%
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBtpR214aZlLGoRP9HH2Ea1KzDz14I4gFw
            &q=11720+Broadway+St+pearland+Texas" allowfullscreen>
        </iframe>
      </div>
      <!-- turned off for version2 -->
      <!-- <div class="uk-width-1-3@s">
        <form action="https://formspree.io/george.ramirez2@gmail.com"
        method="POST">
          <fieldset class="uk-fieldset">
      
              <h2 class="uk-heading">Contact Us</h2>
      
              <div class="uk-margin">
                  <input class="uk-input" type="text" name="User's Email:" placeholder="your_email@here.com">
              </div>
      
              <div class="uk-margin">
                  <select name="In Reference To:" class="uk-select">
                    <option value="General">General Question</option>
                    <option value="Grooming">Grooming</option>
                    <option value="Boarding">Boarding</option>
                    <option value="Daycare">Daycamp</option>
                    <option value="Boutique">Boutique</option>
                  </select>
              </div>
      
              <div class="uk-margin">
                  <textarea class="uk-textarea" rows="11" name="User's Message:" placeholder="Message"></textarea>
              </div>

              <input type="submit" value="Send" class="uk-button uk-button-default uk-width-1-1" style="border: 1px solid darkgrey;">
      
          </fieldset>
      </form>
      </div> -->
    </div>
  </div>

</div>

<!-- modal -->

<!-- <div id="modal-center" class="uk-flex-top" uk-modal>

    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

      <div class="uk-modal-header" style="background:white; padding: 0;">
          <h2 class="uk-modal-title">Opening Month-Day-2018</h2>
      </div>

      <button class="uk-modal-close-default" type="button" uk-close></button>

      <p>We are pleased to announce we will open to the public Month Day 2018.</p>
      <h3>We are hiring</h3> 
      <p>Contact Jordan or Susan at 281-741-3247</p>

    </div>
</div> -->

<style>
  /* Mobile First */
  /* .hero {
    background-image: linear-gradient(rgba(70, 68, 70, 0.7), rgba(70, 68, 70, 0.7)),url('{{site.baseurl}}/assets/images/{{ page.header_image_mobile }}');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .home-logo {
    padding: 5% 5%;
    max-width: 400px;
  }
  .home-logo-text {
    padding: 5% 5%;
    max-width: 400px;
  }
  .header-button {
    display: none;
  }
  .header-button-mobile{
    display: block;
    margin: 1% auto;
    background: #392f8a;
    color:white;
    border-radius: 25px;
  }
  .header-button-mobile a {
    color: white;
  }
  .header-button-mobile:hover,
  .header-button-mobile a:hover {
    background: #392f8a;
    color: white;
    text-decoration: none;
  } */

  /* Tablets & Horizontal Phone */
  /* @media only screen and (min-width: 640px) {
    .hero {
      background-image: url('{{site.baseurl}}/assets/images/{{ page.header_image_tablet }}');
    }
    .home-logo {
      margin: 0 0 0 10%;
    }
    .home-logo-text {
      margin: 0;
      padding-left: 10%;
    }
    .header-button-mobile{
    display: none;
    }
    .header-button {
    display: block;
    margin: 1% auto;
    background: transparent;
    color:white;
    }
  } */
  /* Tablets Landscape */
  /* @media only screen and (min-width: 960px) {
      .hero {
    background-image: url('{{site.baseurl}}/assets/images/{{ page.header_image_tablet_h }}');
    }
    .home-logo {
      margin: 0;
      padding: 0 0 5% 15%;
      max-width: 500px !important;
    }
    .home-logo-text {
      margin: 0 0 0 0 !important;
      padding: 0 0 0 10%;
      max-width: 450px !important;
    }
  } */
  /* Desktops */
  @media only screen and (min-width: 1200px) {

  }
  /* Large Desktops */
  /* @media only screen and (min-width: 1600px) {
    .hero {
      background-image: url('{{site.baseurl}}/assets/images/{{ page.header_image_large_desktop }}');
    }
    .home-logo {
      max-width: 650px !important;
    }
    .home-logo-text {
      max-width: 650px !important;
    }
  } */
  
</style>

