---
layout: default
---
<!-- Header Image-->
<!-- <section class="uk-container uk-container-large bkg_tan">
  <div class="uk-flex uk-flex-middle uk-flex-center uk-height-large hero" id="service-hero-image">
    <h1 class="uk-heading-primary text-white">{{ page.header_text }}</h1>
  </div>
</section> -->

<section class="uk-container uk-container-large bkg_tan">
  <h2 class="uk-heading-primary" style="padding-top:20px;">{{ page.title }}</h2>

  <!-- General Description of Serive -->
  <div class="uk-margin-small-top">
    <div class="uk-margin-small-top uk-grid_match" uk-grid>
      <div class="uk-card uk-card-default uk-card-body uk-width-1-2@s bkg_tan">
        {{ content }}
      </div>
      <div class="uk-card uk-card-default uk-card-body uk-width-1-2@s padding-left-20 uk-text-center bkg_tan">
          <img src="{{site.baseurl}}/assets/images/grooming/ct6cp7_A.jpeg" style="height:300px;" alt="">
        </div>
    </div>
  </div>



  <!-- Different types of Service -->
  <div class="uk-section uk-margin-small-top uk-margin-small-bottom uk-padding-small">
      <div class="uk-margin-small-top" uk-grid>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@s padding-left-20 uk-text-center bkg_tan">
          <img src="{{site.baseurl}}/assets/images/justin-veenema-156592-unsplash.jpg" style="height:300px;" alt="">
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@s bkg_tan">
          <h3 class="uk-heading under-score">{{ page.body_heading_1 }}</h3>
          <!-- <img src="southernTails/assets/images/service-Gooming.jpg" alt=""> -->
          <!-- <p>{{ page.body_desc_1 }}</p> -->

          <ul>{% for items in page.body_desc_1 %}
            <li>
              {{ items.desc_1_item }}
            </li>
              {% endfor %}
          </ul>
          <!-- <a class="uk-button uk-button-default" href="#" style="border: 1px solid darkgrey;">CTA?</a> -->
        </div>

        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@s bkg_tan">
          <h3 class="uk-heading under-score">{{ page.body_heading_2 }}</h3>
          <!-- <img src="./assets/images/justin-veenema-156592-unsplash.jpg" alt=""> -->
          <ul>{% for items in page.body_desc_2 %}
            <li>
              {{ items.desc_2_item }}
            </li>
              {% endfor %}
          </ul>
          <!-- <a class="uk-button uk-button-default" href="#" style="border: 1px solid darkgrey;">CTA?</a>   -->
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@s bkg_tan">
          <img src="{{site.baseurl}}/assets/images/justin-veenema-156592-unsplash.jpg" style="height:500px;" alt="">
        </div>

        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@s bkg_tan">
          <img src="{{site.baseurl}}/assets/images/justin-veenema-156592-unsplash.jpg" style="height:400px;" alt="">
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@s bkg_tan">
          <h3 class="uk-heading under-score">{{ page.body_heading_3 }}</h3>
          <!-- <img src="./assets/images/justin-veenema-156592-unsplash.jpg" alt=""> -->
          <ul>{% for items in page.body_desc_3 %}
            <li>
              {{ items.desc_3_item }}
            </li>
              {% endfor %}
          </ul>
          <!-- <a class="uk-button uk-button-default" href="#" style="border: 1px solid darkgrey;">CTA?</a> -->
        </div>

        <div class="uk-width-1-1@s">
          <p>{{ page.body_heading_4 }}</p>
          <!-- <img src="./assets/images/justin-veenema-156592-unsplash.jpg" alt=""> -->
          <ul>{% for items in page.body_desc_4 %}
            <li>
              {{ items.desc_4_item }}
            </li>
              {% endfor %}
          </ul>
          <!-- <a class="uk-button uk-button-default" href="#" style="border: 1px solid darkgrey;">CTA?</a> -->
        </div>

        <div class="uk-width-1-1@s">
          <p>{{ page.body_heading_5 }}</p>
          <!-- <hr class="hr_blk">
          <p class="uk-text-center">{{ page.body_cta }}</p> -->
        </div>

      </div>
  </div>

</section>


<style>

  .padding-left-20 {
    padding-left: 20px;
  }
  .padding-right-20 {
    padding-right: 20px;
  }
  /* Mobile First */
  .hero {
    background: linear-gradient(rgba(70, 68, 70, 0.6), rgba(70, 68, 70, 0.6)),url('{{site.baseurl}}/assets/images/{{ page.header_image_mobile }}');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  /* Tablets & Horizontal Phone */
  @media only screen and (min-width: 640px) {
      .hero {
    background: linear-gradient(rgba(70, 68, 70, 0.6), rgba(70, 68, 70, 0.6)),url('{{site.baseurl}}/assets/images/{{ page.header_image_tablet }}');
    }
  }
  /* Tablets Landscape */
  @media only screen and (min-width: 960px) {
      .hero {
    background: linear-gradient(rgba(70, 68, 70, 0.6), rgba(70, 68, 70, 0.6)),url('{{site.baseurl}}/assets/images/{{ page.header_image_tablet_h }}');
    }
  }
  /* Desktops */
  @media only screen and (min-width: 1200px) {
      .hero {
    background: linear-gradient(rgba(70, 68, 70, 0.6), rgba(70, 68, 70, 0.6)),url('{{site.baseurl}}/assets/images/{{ page.header_image_desktop }}');
    }
  }
  /* Large Desktops */
  @media only screen and (min-width: 1600px) {
    .hero {
      background: linear-gradient(rgba(70, 68, 70, 0.6), rgba(70, 68, 70, 0.6)),url('{{site.baseurl}}/assets/images/{{ page.header_image_large_desktop }}');
    }
  }
  
</style>