---
layout: default
---
<div class="uk-container uk-container-expand bkg_tan">
  <section class="uk-container uk-container-medium bkg_tan">
    <h2 class="uk-heading-primary" style="padding-top:20px;">{{ page.title }}</h2>

    <!-- General Description of Serive -->
    <div class="uk-margin-small-top uk-margin-large-bottom@s">
        <div class="uk-card uk-card-default uk-card-body uk-width-1-1 bkg_tan">
          {{ content }}
        </div>
        <!-- image grid -->
        <div class="uk-child-width-1-4" uk-grid>
            <img class="uk-box-shadow-large uk-border-rounded" src="{{site.baseurl}}/assets/images/grooming/{{ page.grooming_img_2 }}" style="width:500px;" alt="Southern Tails Boutique">
            <img class="uk-box-shadow-large uk-border-rounded" src="{{site.baseurl}}/assets/images/grooming/{{ page.grooming_img_2 }}" style="width:500px;" alt="Southern Tails Boutique">

        </div>
        <!-- <div class="uk-card uk-card-default uk-card-body uk-width-1-2@s uk-text-center bkg_tan uk-visible@s">
            <img class="uk-box-shadow-large uk-border-rounded" src="{{site.baseurl}}/assets/images/grooming/{{ page.grooming_img_2 }}" style="width:500px;" alt="Southern Tails Boutique">
        </div> -->
    </div>


  </section>
</div>